<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New farm</title>
</head>
<body>
    
    <h1>Add a farm</h1>
    <form action="/farms" method="POST">
        <div>
            <label for="name">farm Name</label>
            <input type="text" name="name" id="name" placeholder="farm Name">
        </div>
        <div>
            <label for="city">City</label>
            <input type="text" name="city" id="city" placeholder="farm city">
        </div>
        <div>
            <label for="email">farm email</label>
            <input type="text" name="email" id="email" placeholder="farm email">
        </div>
        <button type="submit">Submit</button>
    </form>

    <a href="/farms">Cancel</a>



</body>
</html>