<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All products</title>
</head>
<body>
    <h1><%= categories %>  products!</h1>
    <ul>
        <% for(product of products){ %>
            <li><a href="/products/<%= product._id %>"><%= product.name %></a> </li>
            <% } %> 
    </ul>
    <a href="/products/new">New product</a>
    <% if(categories !== "All"){ %>
        <a href="/products">All products</a> 
        <% } %> 

</body>
</html>